@font-face {
    font-family: gilroylight;
    src: url(/font/gilroylight.otf) format('truetype');

}

@font-face {
    font-family: gilroy;
    src: url(/font/gilroy.otf) format('truetype');
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;  
    font-family: 'gilroylight', helvetica, sans-serif;
    color: white;
}

img {
    width: 100%;
}

h1 {
    font-family: 'gilroy', helvetica, sans-serif;
    font-size: 4vw;
    letter-spacing: 1vw;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: white;
    text-align: center;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
}

h3 {
    font-family: 'gilroylight',Helvetica, sans-serif;
    font-weight: 100;
    font-size:1.3vw;
    letter-spacing: 0.5px;
    text-align: center;
}

h4 {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size:1.5vw;
    letter-spacing: 1px;
    color: #D67E70;
    text-align: center;
    cursor: pointer;
}
h5,
h6 {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size:1.5vw;
    color:gray;
    text-align: center;
}

p {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.3vw;
    letter-spacing: 0.5px;
    color: gray;
}

a {
    color: gainsboro;
}

/*MOBILE*/
.mobile {
    display: none;
}

/*WIDESCREEN*/

.widescreen {
    
}


/*head de fundo*/

.head1 {
    height: 58vw;
    width: 100%;
    position: absolute;
    background-image: url('img/roda-de-coco.jpg');   
    background-position: center;
    background-size: cover;  
}

/*rzão*/

.rzao {
    width: 15vw;
}
/*linhas*/

.linemenu {
    height: 8vw;
    width:20%;
    padding-left: 85vw;
    padding-top: 12vw;
    position: fixed;
    background-color: transparent;

}

.line25{
    height: 25vw;
    width:100%;
    position: relative;
    float: left;
    background-color: transparent;
}

.line20{
    height: 9vw;
    width:100%;
    position: relative;
    float: left;
    background-color: transparent;
}

.line15{
    height: 15vw;
    width:100%;
    position: relative;
    float: left;
    background-color: transparent;
}

.line10{
    height: 10vw;
    width:100%;
    position: relative;
    float: left;
    background-color: transparent;
}

.line8{
    height: 3vw;
    width:100%;
    position: relative;
    float: left;
    background-color: transparent;
}

.line5{
    height: 15vw;
    width:10%;
    position: relative;
    float: left;
    background-color: transparent;
}

.line2{
    height:2vw;
    width:100%;
    position: relative;
    float: left;
    background-color:transparent;
}

.descidinhadojs{
    height:2vw;
    width:5%;
    position: relative;
    float: left;
    background-color:transparent;
}

/*colunas*/

.div12e51{
    height: 30vw;
    width: 12.5%;
    position: relative;
    float: left;
    padding: 0vw 0% 0vw 0%;
    background-color: darkkhaki;
    display: none;
}

.div12e52{
    height: 10vw;
    width: 12.5%;
    position: relative;
    float: left;
    padding: 0vw 0% 0vw 0%;
    background-color: cornflowerblue;
    display: none;
}

.div251{
    height: 20vw;
    width: 25%;
    position: relative;
    float: left;
    background-color: transparent;
}

.div252{
    height: 6vw;
    width: 25%;
    position: relative;
    float: left;
    background-color: transparent;
}

.div253{
    height: 10vw;
    width: 2.5%;
    position: relative;
    float: left;
    padding: 0vw 0% 0vw 0%;
    background-color: transparent;
}

.div254{
    height: 15vw;
    width: 15%;
    position: relative;
    float: left;
    padding: 5vw 5% 5vw 5%;
    background-color: darkslategrey;
}

.div501 {
    height: 19vw;
    width: 15%;
    position: relative;
    float: left;
    padding: 1vw 17.5% 0vw 17.5%;
    background-color: transparent;
}

.div502 {
    height: 6vw;
    width: 16%;
    position: relative;
    float: left;
    padding: 0vw 17% 0vw 17%;
    background-color: transparent;
}

.div503 {
    height: 20vw;
    width: 40%;
    position: relative;
    float: left;
    padding: 5vw 5% 5vw 5%;
    background-color: transparent;
}

.div504 {  /* Títulos menus */
    height: 4vw;
    width: 10%;
    position: relative;
    float: left;
    padding: 0.5vw 5% 0.5vw 5%;
    background-color: transparent;
    overflow: hidden;
}

.div506 {
    height: 15vw;
    width: 34%;
    position: relative;
    float: left;
    padding: 2.5vw 3% 2.5vw 3%;
    background-color: transparent;
    overflow: scroll;
}

.div505 {
    height: 5vw;
    width: 90%;
    position: relative;
    float: left;
    padding: 5vw 5% 0vw 5%;
    background-color: transparent;
    overflow: hidden;
}

.div751 {
    height: 7vw;
    width: 30%;
    position: relative;
    float: left;
    padding: 8vw 5% 0vw 5%;
    background-color: transparent;
}

.div752 {
    height: 13vw;
    width: 16%;
    position: relative;
    float: left;
    padding: 9vw 15% 0vw 9%;
    background-color: transparent
}


/* textos explicativos dentro de cada aba */

.divfull1 {  /* Conceito texto */
    height: 25vw;
    width: 70%;
    position: relative;
    float: left;
    background-color:transparent;
    padding: 4vw 15% 4vw 15%;
    overflow: hidden;
}

.divfull2 {  /* CoNE texto */
    height: 7vw;
    width: 70%;
    position: relative;
    float: left;
    background-color:transparent;
    padding: 4vw 15% 4vw 15%;
    overflow: scroll;
}

.divfull3 {  /* Estrutura texto */
    height: 8vw;
    width: 70%;
    position: relative;
    float: left;
    background-color:transparent;
    padding: 4vw 15% 4vw 15%;
    overflow: hidden;
}

.divfull4 {  /* Links texto */
    height: 17vw;
    width: 70%;
    position: relative;
    float: left;
    background-color:transparent;
    padding: 4vw 15% 4vw 15%;
    overflow: hidden;
}

.divfull5 {  /* CORDe texto */
    height: 90vw;
    width: 70%;
    position: relative;
    float: left;
    background-color:transparent;
    padding: 4vw 15% 4vw 15%;
    overflow: hidden;
}

.divfull6 {  /* parceria icones */
    height: 8vw;
    width: 18%;
    position: relative;
    float: left;
    background-color:transparent;
    padding: 0vw 42% 1vw 42%;
    overflow: hidden;
}



/*botão para inscrições*/

a.button1{
    display:inline-block;
    padding: 0.5vw 1.25vw 0.5vw 1.25vw;
    border:0.1vw solid white;
    margin:0 0 0 0;
    border-radius: 0vw;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:300;
    color: white;
    text-align:center;
    transition: all 0.2s;
}

a.button1:hover{
    color:#D67E70;
    background-color:white;
    }







/*scrollbar*/

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
::-webkit-scrollbar-track-piece {
    width: 1px;
    background: transparent;
}


