/* css file */
/* pra celular, telas pequenas */

header {
	background-color:orange;  /* SandyBrown */
}

h1 {
	color: orange;
}

h2 {

}

h3{

}

h4{

}

h5 {
	color: orange;
}


.encontro-box,
.editais-box {
	background-color: lightgrey;
}



.o-resto {
	background-color: lightgrey;
}
