/* css file */
/* pra celular, telas pequenas */

header {
	background-color:orange;  /* SandyBrown */
}

h1 {
	color: orange;
}

h2 {
    color: white;
}

h3{
    
}

h4{
    color: orange;
}

h5 {
	color: orange;
}


.encontro-box,
.editais-box,
.corde-box {
	background-color: lightgrey;
}
